.pink{
    height: 150px;
    line-height: 150px;
    background-color: pink;
    padding: 5px;
    border: 1px solid black;
}

.pinky{
    background-color: rgb(255, 109, 133);
    height: 100%;
    border: 1px solid pink;
    line-height: normal;
    position: relative;
}


[class^="col"]{
    text-align: center;
}

.container, .row{
    height: 100%;
}

.pinky span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}